<%= form_for @person, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Person
      <a class="btn btn-mini pull-right btn-info" data-toggle="modal" href="#myModal" >Formatting Help</a></legend>
    
    
    <div class="modal hide fade" id="myModal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Markdown Formatting Help</h3>
      </div>
      <div class="modal-body">
        <h4>New paragraphs</h4>
        <p>Add a line break to make a new paragraph</p>
        <h4>Bold text</h4>
        <p>Here is some **bold text** and now back to normal</p>
        <h4>Emphasis text</h4>
        <p>Here is some _emphasis text_ and now back to normal</p>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.cktext_area :description, :class => 'input-xxlarge' %>
      </div>
    </div>

    <div class="control-group" id="category_select">
			<%= f.label :category, :class => "control-label" %>
			<div class="controls">
			  <% Category.all.each do |category| %>
				  <label class="radio">
				    <%= category.name %>
					  <%= f.radio_button :category_id, category.id %>
					</label>  
				<% end %>
			</div>			
		</div>	
    
    <div class="control-group">
      <label class="control-label"> Select image</label>
      <div class="controls">
        <%= f.file_field :image %>
      </div>
    </div>    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', people_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
