<% @people.each do |person| %>
  <div class="entry_container">
    <div class="entry_header">
      <%= "Person".upcase %>
      <% if person.red %>
        <span class="label label-important pull-right"><%= "warning".upcase %></span>  
      <% elsif person.green %>
        <span class="label label-success pull-right"><%= "approved".upcase %></span>  
      <% else %>
        <span class="label label-warning pull-right"><%= "undecided".upcase %></span> 
      <% end %>  
    </div>
    <div class="media">
      <% if person.image? %>
        <%= image_tag person.image_url(:thumb).to_s %>
      <% end %>
    </div>
    <div class="text">
      <h2><%= link_to person.name, person_path(person) %>
        <small>Updated <%= time_ago_in_words(person.updated_at) %> ago</small>
      </h2>
      <%= truncate(person.description, :length => 300)  %>
      <% if admin? %>
        <%= link_to 'Edit', edit_person_path(person), :class => 'btn btn-mini' %>
        <%= link_to 'Destroy', person_path(person), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
      <% end %>  
    </div>
    
  </div>
<% end %>  
  

  


