<h1>Person</h1>

<p>
  <b>Name</b><br>
  <%= @person.name %>
</p>

<p>
  <b>Description</b><br>
  <%= raw @person.description %>
</p>

<p>
  <b>Red</b><br>
  <%= @person.red %>
</p>

<p>
  <b>Yellow</b><br>
  <%= @person.yellow %>
</p>

<p>
  <b>Green</b><br>
  <%= @person.green %>
</p>

<div class="form-actions">
  <%= link_to 'Back', people_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_person_path(@person), :class => 'btn' %>
  <%= link_to 'Delete', person_path(@person), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
