<% if @person.category_id == 1 %> <!-- how can i do this better? -->
  <span class="label label-important pull-right"><%= "warning".upcase %></span>
<% elsif @person.category_id == 2 %>  
  <span class="label label-warning pull-right"><%= "undecided".upcase %></span>
<% elsif @person.category_id == 3 %>
  <span class="label label-success pull-right"><%= "approved".upcase %></span>
<% end %>
<h1><%= @person.name %></h1>  
<% if @person.image? %>
  <%= image_tag @person.image_url(:thumb).to_s %>
<% end %>

<%= raw @person.description %>

<div class="form-actions">
  <%= link_to 'Back', people_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_person_path(@person), :class => 'btn' %>
  <%= link_to 'Delete', person_path(@person), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
